$primary-color: #db3535;
$surface-color: #fff;
$text-color: #eee;
$text-color2: #666;
$curve: 40;

body {
  font-family: 'Bona Nova', serif;
}
.b_primary {
  background-color: $primary-color;
}

nav {
  z-index: 1;
  height: 80px;
  transition: all 300ms;

  &.navtop {
    background-color: transparent !important;

    .navbar-brand {
      color: $text-color !important;
    }

    .icon-sosmed {
      display: inline-block;
      width: 24px;
      height: 24px;
      fill: $text-color;

      &:hover {
        fill: $primary-color;
        cursor: pointer;
      }
    }

    .nav-item {
      margin-right: 30px;
      a {
        font-size: 1.1rem;
        font-weight: 500;
        color: $text-color !important;
      }

      a:hover {
        color: $primary-color !important;
      }
    }
  }

  &.navscrolled {
    background-color: white !important;

    .navbar-brand {
      color: $text-color2 !important;
    }

    .icon-sosmed {
      display: inline-block;
      width: 24px;
      height: 24px;
      fill: $text-color2;

      &:hover {
        fill: $primary-color;
        cursor: pointer;
      }
    }

    .nav-item {
      margin-right: 30px;
      a {
        font-size: 1.1rem;
        font-weight: 500;
        color: $text-color2 !important;
      }

      a:hover {
        color: $primary-color !important;
      }
    }
  }
  
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
}

.hero-image {
  height: 500px;

  img {
    object-fit: fill;
  }
}

.hero-image:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 0.6;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.menu-utama {
  margin-top: -70px;
  background-color: white !important;
  border-radius: 15px;
  width: 100px;
  padding: 30px;
  //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .menu {
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // margin: 0px;

    .title-menu {
      margin-top: 30px;
      font-size: 0.8rem;
      color: grey;
      font-weight: bold;
      text-align: center;
      height: 30px;
    }

    .img-menu {
      width: 75px;
      transition: all 500ms;
    }

    &:hover {
      background-color: #ddd;
      cursor: pointer;
      box-shadow: none;

      .img-menu {
        transform: rotate(20deg);
      }
    }
  }
}

.footerstyle {
  position: relative;
  margin-top: 7em;
  background-image: url('http://localhost:8000/static-image/contohdrymistbg.jpg');
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 0;
  }
  .footer-up {
    padding: 50px;
  }
  .title-footer {
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 2;
    color: $text-color;
  }

  .content-footer {
    p {
      margin-bottom: 3px; 
      z-index: 1;
      color: $text-color;
    }
  }

  .icon {
    height: 1rem;
    width: 1rem;
  }

  .link {
    all: unset;
    color: $text-color;
    z-index: 1;
    
    &:hover {
      color: #ddd;
      cursor: pointer;
    }
  }

  .icon-sosmed {
    width: 24px;
    height: 24px;
    fill: $text-color;
    z-index: 1;

    &:hover {
      fill: $primary-color;
      cursor: pointer;
    }
  }
}

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc($curve * 1px);
  overflow: hidden;
  text-decoration: none;

  &:hover {
    .card__overlay {
      transform: translateY(0);
    }

    .card__header {
      transform: translateY(0);
      padding: 1rem 2rem;
    }
  }
  .card__image {
    width: 100%;
    height: auto;
  }

  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc($curve * 1px);
    background-color: $surface-color;
    transform: translateY(100%);
    transition: 0.2s ease-in-out;
  }

  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc($curve * 1px) 0 0 0;
    background-color: $surface-color;
    transform: translateY(-100%);
    transition: 0.2s ease-in-out;

    .card__arc {
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 100%;
      right: 0;
      z-index: 1;
    }

    .card__arc path {
      fill: $surface-color;
      d: path('M 40 80 c 22 0 40 -22 40 -40 v 40 Z');
    }

    .card__thumb {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .card__title {
      font-size: 1em;
      margin: 0 0 0.3em;
      color: #6a515e;
    }

    .card__tagline {
      display: block;
      // margin: 1em 0;
      font-size: 0.8em;
      color: #d7bdca;
    }

    .card__status {
      font-size: 0.8em;
      color: #d7bdca;
    }
  }

  .card__description {
    padding: 0 2em 1rem 2em;
    margin: 0;
    color: #d7bdca;
    display: -webkit-box;

    overflow: hidden;
  }
}

.cta-select {
  border: 2px solid $primary-color;
  background: transparent;
  color: $primary-color;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px;
}

.cta-add {
  background: $primary-color;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: #fff;
  border-radius: 50px;
  margin: 30px 0px 0px 30px;
}

hr{
  &.divider{
    width: 5rem;
    height: 0.2rem;
    color: $primary-color;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

h1{
  &.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}